# Created by .ignore support plugin (hsz.mobi)

.ipynb_checkpoints
.cache
.pki
.idea
.bash_history
.python_history

__pycache__

data
core
build
dist

*.json.gz
*.model
*.jar
*.log
*.db
*.egg-info/

app.tar.gz
venv
cache
/log/
