[submodule "fork/examples/embedding"]
	path = fork/examples/embedding
	url = https://github.com/ratsgo/embedding.git
[submodule "fork/examples/tensorflow-ml-nlp-tf2"]
	path = fork/examples/tensorflow-ml-nlp-tf2
	url = https://github.com/NLP-kr/tensorflow-ml-nlp-tf2.git
[submodule "fork/examples/deep_learning_cookbook"]
	path = fork/examples/deep_learning_cookbook
	url = https://github.com/DOsinga/deep_learning_cookbook.git
[submodule "fork/examples/kubeflow-book"]
	path = fork/examples/kubeflow-book
	url = https://github.com/mojokb/kubeflow-book.git
[submodule "fork/examples/handson-kubeflow"]
	path = fork/examples/handson-kubeflow
	url = https://github.com/mojokb/handson-kubeflow.git
[submodule "fork/examples/dl_to_all_pytorch"]
	path = fork/examples/dl_to_all_pytorch
	url = https://github.com/deeplearningzerotoall/PyTorch.git
[submodule "fork/examples/korean-embedding-study"]
	path = fork/examples/korean-embedding-study
	url = https://github.com/nlp-kkmas/korean-embedding-study.git
[submodule "fork/corpus/sentiment"]
	path = fork/corpus/sentiment
	url = https://github.com/bab2min/corpus.git
[submodule "fork/etc/dl-books"]
	path = fork/etc/dl-books
	url = https://github.com/zhangyhcumt/Deep-learning-books.git
[submodule "fork/corpus/korean-malicious-comments"]
	path = fork/corpus/korean-malicious-comments
	url = https://github.com/ZIZUN/korean-malicious-comments-dataset.git
[submodule "fork/pretrained/enliple_kor"]
	path = fork/pretrained/enliple_kor
	url = https://github.com/enlipleai/kor_pretrain_LM.git
[submodule "fork/pretrained/huggingface_konlpy"]
	path = fork/pretrained/huggingface_konlpy
	url = https://github.com/lovit/huggingface_konlpy.git
[submodule "fork/etc/standalone-dl"]
	path = fork/etc/standalone-dl
	url = https://github.com/heartcored98/Standalone-DeepLearning.git
[submodule "fork/examples/es-kr-guide"]
	path = fork/examples/es-kr-guide
	url = https://github.com/eskrug/es-kr-guide.git
[submodule "fork/pretrained/kcbert"]
	path = fork/pretrained/kcbert
	url = https://github.com/Beomi/KcBERT.git
[submodule "fork/pretrained/skt_kobert"]
	path = fork/pretrained/skt_kobert
	url = https://github.com/SKTBrain/KoBERT.git
[submodule "fork/corpus/nsmc"]
	path = fork/corpus/nsmc
	url = https://github.com/e9t/nsmc.git
[submodule "fork/pretrained/koelectra"]
	path = fork/pretrained/koelectra
	url = https://github.com/monologg/KoELECTRA.git
[submodule "fork/model/pytorch-bert-crf-ner"]
	path = fork/model/pytorch-bert-crf-ner
	url = https://github.com/eagle705/pytorch-bert-crf-ner.git
[submodule "fork/corpus/kmu_ner"]
	path = fork/corpus/kmu_ner
	url = https://github.com/kmounlp/NER.git
[submodule "fork/corpus/kakao-nlu-datasets"]
	path = fork/corpus/kakao-nlu-datasets
	url = https://github.com/kakaobrain/KorNLUDatasets.git
[submodule "fork/pretrained/ko_sentence_bert"]
	path = fork/pretrained/ko_sentence_bert
	url = https://github.com/BM-K/KoSentenceBERT.git
[submodule "fork/pretrained/hanbert"]
	path = fork/pretrained/hanbert
	url = https://github.com/tbai2019/HanBert-54k-N
[submodule "fork/model/HanBert-Transformers"]
	path = fork/model/HanBert-Transformers
	url = https://github.com/monologg/HanBert-Transformers.git
[submodule "fork/pretrained/DistilKoBERT"]
	path = fork/pretrained/DistilKoBERT
	url = https://github.com/monologg/DistilKoBERT.git
[submodule "fork/examples/handson-ml2"]
	path = fork/examples/handson-ml2
	url = https://github.com/ageron/handson-ml2
[submodule "fork/examples/building-machine-learning-pipelines"]
	path = fork/examples/building-machine-learning-pipelines
	url = https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines.git
