[submodule "ops"]
	path = ops
	url = http://galadriel02.korea.ncsoft.corp/searchtf/sapphire-server/nlp-cloud/crawler.git

[submodule "config"]
	path = config
	url = http://galadriel02.korea.ncsoft.corp/crawler/config.git
