apache-airflow
apache-airflow[kubernetes]
apache-airflow[mysql]
autopep8
berkeleydb
jupyter
jupyter_contrib_nbextensions
jupyterlab
jupyterthemes
kubernetes
matplotlib
minio
notebook
pandas
pip
twine
webdav
werkzeug<1.0.0
yapf

# pycurl : sudo apt install libcurl4-openssl-dev libssl-dev
# jsonfinder: javascript 추출 모듈

# sudo apt install libdb-dev

# jupyter notebook 테마 설정
# jt -t monokai -fs 11 -tfs 11 -nfs 11 -ofs 11 -cellw 980 -T -f hack -N -cellw 1280 -lineh 150
