python-dateutil
boto3
bs4
elasticsearch
lxml
numpy
pymongo
requests
requests[socks]
requests[security]
selenium
html5lib
openpyxl
jsonlines
urllib3
requests-oauthlib
tqdm
werkzeug
botocore
queues
pika
pytz
pandas
webdav
pycurl
pyjwt
PySocks
