PyMySQL
PySocks
PyYAML
berkeleydb
brotlipy
bs4
cachelib
certifi
dotty_dict
elasticsearch
html5lib
jsonfinder
lxml
pycurl
python-dateutil
pytz
requests
requests-oauthlib
requests[security]
requests[socks]
tqdm
urllib3
yapf
pandas
pyppeteer

# pycurl : sudo apt install libcurl4-openssl-dev libssl-dev
# jsonfinder: javascript 추출 모듈

# sudo apt install libdb-dev
