python-dateutil
elasticsearch

bs4
lxml
html5lib

pycurl
PySocks
urllib3

requests
requests[socks]
requests[security]
requests-oauthlib
requests-html

selenium
selenium-wire

tqdm
pytz
certifi
cachelib
brotlipy
dotty_dict

PyYAML
PyMySQL
jsonfinder

wheel
setuptools
twine

kubernetes
apache-airflow
apache-airflow[mysql]
apache-airflow[kubernetes]

werkzeug<1.0.0
pandas
jupyter
notebook
jupyter_contrib_nbextensions
matplotlib

webdav
minio
autopep8
pip
yapf

# nlplab
# git+http://galadriel02.korea.ncsoft.corp/searchtf/pypi/nlplab.git

# pycurl : sudo apt install libcurl4-openssl-dev libssl-dev
# jsonfinder: javascript 추출 모듈
