python-dateutil
elasticsearch

bs4
lxml
html5lib

pycurl
PySocks
urllib3

requests
requests[socks]
requests[security]
requests-oauthlib
requests-html

selenium
selenium-wire

tqdm
pytz
certifi
cachelib
brotlipy
dotty_dict

PyYAML
PyMySQL
jsonfinder

wheel
setuptools
twine

kubernetes
apache-airflow
apache-airflow[mysql]
apache-airflow[kubernetes]

werkzeug<1.0.0
pandas
jupyter
jupyterlab
jupyterthemes
jupyter_contrib_nbextensions
notebook
matplotlib

webdav
minio
autopep8
pip
yapf

berkeleydb

scrapy
scrapy-fake-useragent

# pycurl : sudo apt install libcurl4-openssl-dev libssl-dev
# jsonfinder: javascript 추출 모듈

# sudo apt install libdb-dev

# jupyter notebook 테마 설정
# jt -t monokai -fs 11 -tfs 11 -nfs 11 -ofs 11 -cellw 980 -T -f hack -N -cellw 1280 -lineh 150
