wheel
setuptools
twine
python-dateutil
boto3
bs4
elasticsearch
lxml
requests
requests[socks]
requests[security]
requests-oauthlib
requests-html
selenium
selenium-wire
html5lib
openpyxl
jsonlines
urllib3
tqdm
pytz
pandas
pycurl
pyjwt
PySocks
certifi
cachelib
brotlipy
psutil
xlsxwriter
minio
dotty_dict
git+http://galadriel02.korea.ncsoft.corp/searchtf/pypi/nlplab.git
# pycurl : sudo apt install libcurl4-openssl-dev libssl-dev
