# preinstall
pip
wheel
setuptools
cython

# base
numpy
pandas
tqdm
bs4

# jupyter
ipykernel
ipyparallel
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterhub
jupyterlab
jupyterthemes
PyJWT
autopep8
bash_kernel
beakerx
bilm
bokeh
dask[complete]
lxml
matplotlib
notebook
py4j
pyLDAvis
pydot
pytest-runner
qgrid
sshkernel
seaborn
wikiextractor
wordcloud
xlrd
xlsxwriter
yapf

# ML
h5py
gensim
nltk
networkx
konlpy
scikit-learn
scipy
sklearn
smart-open
soynlp
soyspacing

# DL
bert
keras
sentencepiece
tensorflow
tensorflow-hub
tf_sentencepiece
transformers==2.11.0

# torch
# pip3 install --find-links https://download.pytorch.org/whl/torch_stable.html torch==1.6.0+cu101 torchtext torchvision==0.7.0+cu101
